{:highlights [{:id #uuid "679a6027-d094-43e6-a001-cee31c02b17d",
               :page 2,
               :position {:bounding {:x1 496.02288818359375,
                                     :y1 383.6811065673828,
                                     :x2 805.3274536132812,
                                     :y2 402.16835021972656,
                                     :width 974.7275129138792,
                                     :height 1299.7679735794732},
                          :rects ({:x1 496.02288818359375,
                                   :y1 383.6811065673828,
                                   :x2 805.3274536132812,
                                   :y2 402.16835021972656,
                                   :width 974.7275129138792,
                                   :height 1299.7679735794732}),
                          :page 2},
               :content {:text "Story-ing the Dream in Spiritual Directio"},
               :properties {:color "red"}}],
 :extra {:page 2}}
