{:highlights [{:id #uuid "679a6027-d094-43e6-a001-cee31c02b17d",
               :page 2,
               :position {:bounding {:x1 496.02288818359375,
                                     :y1 383.6811065673828,
                                     :x2 805.3274536132812,
                                     :y2 402.16835021972656,
                                     :width 974.7275129138792,
                                     :height 1299.7679735794732},
                          :rects ({:x1 496.02288818359375,
                                   :y1 383.6811065673828,
                                   :x2 805.3274536132812,
                                   :y2 402.16835021972656,
                                   :width 974.7275129138792,
                                   :height 1299.7679735794732}),
                          :page 2},
               :content {:text "Story-ing the Dream in Spiritual Directio"},
               :properties {:color "red"}}
              {:id #uuid "679a607e-61ba-4339-be3d-f13cb81945f2",
               :page 1,
               :position {:bounding {:x1 88.35826110839844,
                                     :y1 491.81976318359375,
                                     :x2 472.4160461425781,
                                     :y2 619.158203125,
                                     :width 1023.4466666666668,
                                     :height 1372.8},
                          :rects ({:x1 105.94293212890625,
                                   :y1 491.81976318359375,
                                   :x2 470.5423583984375,
                                   :y2 520.9019165039062,
                                   :width 1023.4466666666668,
                                   :height 1372.8}
                                  {:x1 91.62272644042969,
                                   :y1 516.69287109375,
                                   :x2 469.9649963378906,
                                   :y2 545.7470703125,
                                   :width 1023.4466666666668,
                                   :height 1372.8}
                                  {:x1 91.73283386230469,
                                   :y1 543.837158203125,
                                   :x2 470.5567932128906,
                                   :y2 572.10888671875,
                                   :width 1023.4466666666668,
                                   :height 1372.8}
                                  {:x1 90.61742401123047,
                                   :y1 569.0220947265625,
                                   :x2 472.4160461425781,
                                   :y2 595.8868408203125,
                                   :width 1023.4466666666668,
                                   :height 1372.8}
                                  {:x1 88.35826110839844,
                                   :y1 594.8012084960938,
                                   :x2 435.3395080566406,
                                   :y2 619.158203125,
                                   :width 1023.4466666666668,
                                   :height 1372.8}),
                          :page 1},
               :content {:text "Thomas Moore, in his article“Developing a Dream Practice” that appeared in Spirituality and Health, says that in his psychotherapy practice he has come to“trust the dreams more than the stories and the complaints” of his clients. Moore says that he has come to recogniz"},
               :properties {:color "red"}}
              {:id #uuid "679a64fe-50aa-4d23-9bf8-0e4c1025df17",
               :page 1,
               :position {:bounding {:x1 73.88056182861328,
                                     :y1 1183.802001953125,
                                     :x2 325.0722351074219,
                                     :y2 1213.29150390625,
                                     :width 1023.4466666666668,
                                     :height 1372.8},
                          :rects ({:x1 73.88056182861328,
                                   :y1 1183.802001953125,
                                   :x2 191.5924072265625,
                                   :y2 1201.1373901367188,
                                   :width 1023.4466666666668,
                                   :height 1372.8}
                                  {:x1 190.74932861328125,
                                   :y1 1190.3832397460938,
                                   :x2 295.2733154296875,
                                   :y2 1206.9738159179688,
                                   :width 1023.4466666666668,
                                   :height 1372.8}
                                  {:x1 294.43682861328125,
                                   :y1 1196.2894897460938,
                                   :x2 325.0722351074219,
                                   :y2 1213.29150390625,
                                   :width 1023.4466666666668,
                                   :height 1372.8}),
                          :page 1},
               :content {:text "Th; Beginning of My Story int"},
               :properties {:color "red"}}
              {:id #uuid "679a6533-632b-4c45-8b8c-7ca1654a455c",
               :page 1,
               :position {:bounding {:x1 503.6251525878906,
                                     :y1 881.4000244140625,
                                     :x2 917.2122192382812,
                                     :y2 925.9967651367188,
                                     :width 1023.4466666666668,
                                     :height 1372.8},
                          :rects ({:x1 524.7000122070312,
                                   :y1 881.4000244140625,
                                   :x2 917.2122192382812,
                                   :y2 898.2000122070312,
                                   :width 1023.4466666666668,
                                   :height 1372.8}
                                  {:x1 503.6251525878906,
                                   :y1 908.8125,
                                   :x2 909.5969848632812,
                                   :y2 925.9967651367188,
                                   :width 1023.4466666666668,
                                   :height 1372.8}),
                          :page 1},
               :content {:text " purchased the book Dreams and Spiritual Growth: A Christian Approach to Dreamwork by Louis M. Savary"},
               :properties {:color "red"}}
              {:id #uuid "679a6562-458e-4bd8-9f5b-d8f296678932",
               :page 1,
               :position {:bounding {:x1 572.955078125,
                                     :y1 1284.0807495117188,
                                     :x2 733.8759155273438,
                                     :y2 1301.3132934570312,
                                     :width 1023.4466666666668,
                                     :height 1372.8},
                          :rects ({:x1 572.955078125,
                                   :y1 1284.0807495117188,
                                   :x2 733.8759155273438,
                                   :y2 1301.3132934570312,
                                   :width 1023.4466666666668,
                                   :height 1372.8}),
                          :page 1},
               :content {:text "story-ing” the dream."},
               :properties {:color "red"}}
              {:id #uuid "679a6598-57ca-4945-9174-3c730f03c385",
               :page 2,
               :position {:bounding {:x1 200,
                                     :y1 193,
                                     :x2 402,
                                     :y2 249,
                                     :width 1029.496,
                                     :height 1372.8},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1738171800389},
               :properties {:color "red"}}
              {:id #uuid "679a65e6-0125-41cf-8085-997c62061706",
               :page 2,
               :position {:bounding {:x1 524.4187622070312,
                                     :y1 536.5500335693359,
                                     :x2 957.2367553710938,
                                     :y2 690.2699737548828,
                                     :width 1029.496,
                                     :height 1372.8},
                          :rects ({:x1 762.02880859375,
                                   :y1 536.5500335693359,
                                   :x2 952.8921508789062,
                                   :y2 555.7500152587891,
                                   :width 1029.496,
                                   :height 1372.8}
                                  {:x1 524.4187622070312,
                                   :y1 563.4562835693359,
                                   :x2 953.9996948242188,
                                   :y2 581.4562530517578,
                                   :width 1029.496,
                                   :height 1372.8}
                                  {:x1 709.2479248046875,
                                   :y1 590.6439361572266,
                                   :x2 955.7161865234375,
                                   :y2 607.7341461181641,
                                   :width 1029.496,
                                   :height 1372.8}
                                  {:x1 709.265869140625,
                                   :y1 618.6188507080078,
                                   :x2 956.4736328125,
                                   :y2 635.9667510986328,
                                   :width 1029.496,
                                   :height 1372.8}
                                  {:x1 709.281494140625,
                                   :y1 646.2000885009766,
                                   :x2 957.2367553710938,
                                   :y2 663.2943878173828,
                                   :width 1029.496,
                                   :height 1372.8}
                                  {:x1 709.5690307617188,
                                   :y1 673.2563629150391,
                                   :x2 787.7804565429688,
                                   :y2 690.2699737548828,
                                   :width 1029.496,
                                   :height 1372.8}),
                          :page 2},
               :content {:text "fter spiritual directees tell their dreams, I guide them through the process of forming a title for their dreams and drawing out the themes. I use the same format for them that I usefor myself."},
               :properties {:color "green"}}
              {:id #uuid "679a661a-4efa-41fe-804d-8e1afed2e48d",
               :page 3,
               :position {:bounding {:x1 508.33563232421875,
                                     :y1 837.0811157226562,
                                     :x2 867.1824340820312,
                                     :y2 856.6299438476562,
                                     :width 1029.496,
                                     :height 1372.8},
                          :rects ({:x1 508.33563232421875,
                                   :y1 837.0811157226562,
                                   :x2 867.1824340820312,
                                   :y2 856.6299438476562,
                                   :width 1029.496,
                                   :height 1372.8}),
                          :page 3},
               :content {:text "The Second Technique: Conversing the Dream"},
               :properties {:color "green"}}
              {:id #uuid "679a6635-9b46-40e2-bc30-91175873411b",
               :page 3,
               :position {:bounding {:x1 662.431884765625,
                                     :y1 1191.8627014160156,
                                     :x2 931.33837890625,
                                     :y2 1211.3999938964844,
                                     :width 1029.496,
                                     :height 1372.8},
                          :rects ({:x1 662.431884765625,
                                   :y1 1191.8627014160156,
                                   :x2 931.33837890625,
                                   :y2 1211.3999938964844,
                                   :width 1029.496,
                                   :height 1372.8}),
                          :page 3},
               :content {:text "Why did you appear in my‘_iiar_“?"},
               :properties {:color "green"}}
              {:id #uuid "679a6666-85a3-4217-a55d-bdc081748dde",
               :page 4,
               :position {:bounding {:x1 98.43138885498047,
                                     :y1 571.2557144165039,
                                     :x2 484.3877868652344,
                                     :y2 619.8110733032227,
                                     :width 988.0866666666666,
                                     :height 1372.8},
                          :rects ({:x1 106.01950073242188,
                                   :y1 571.2557144165039,
                                   :x2 484.3877868652344,
                                   :y2 596.4467544555664,
                                   :width 988.0866666666666,
                                   :height 1372.8}
                                  {:x1 98.43138885498047,
                                   :y1 594.2784194946289,
                                   :x2 245.5238800048828,
                                   :y2 619.8110733032227,
                                   :width 988.0866666666666,
                                   :height 1372.8}),
                          :page 4},
               :content {:text " tell the image what I want it to do cither in this dream or in any future dreams."},
               :properties {:color "green"}}],
 :extra {:page 4}}
