{:highlights [{:id #uuid "679a6027-d094-43e6-a001-cee31c02b17d",
               :page 2,
               :position {:bounding {:x1 496.02288818359375,
                                     :y1 383.6811065673828,
                                     :x2 805.3274536132812,
                                     :y2 402.16835021972656,
                                     :width 974.7275129138792,
                                     :height 1299.7679735794732},
                          :rects ({:x1 496.02288818359375,
                                   :y1 383.6811065673828,
                                   :x2 805.3274536132812,
                                   :y2 402.16835021972656,
                                   :width 974.7275129138792,
                                   :height 1299.7679735794732}),
                          :page 2},
               :content {:text "Story-ing the Dream in Spiritual Directio"},
               :properties {:color "red"}}
              {:id #uuid "679a607e-61ba-4339-be3d-f13cb81945f2",
               :page 1,
               :position {:bounding {:x1 88.35826110839844,
                                     :y1 491.81976318359375,
                                     :x2 472.4160461425781,
                                     :y2 619.158203125,
                                     :width 1023.4466666666668,
                                     :height 1372.8},
                          :rects ({:x1 105.94293212890625,
                                   :y1 491.81976318359375,
                                   :x2 470.5423583984375,
                                   :y2 520.9019165039062,
                                   :width 1023.4466666666668,
                                   :height 1372.8}
                                  {:x1 91.62272644042969,
                                   :y1 516.69287109375,
                                   :x2 469.9649963378906,
                                   :y2 545.7470703125,
                                   :width 1023.4466666666668,
                                   :height 1372.8}
                                  {:x1 91.73283386230469,
                                   :y1 543.837158203125,
                                   :x2 470.5567932128906,
                                   :y2 572.10888671875,
                                   :width 1023.4466666666668,
                                   :height 1372.8}
                                  {:x1 90.61742401123047,
                                   :y1 569.0220947265625,
                                   :x2 472.4160461425781,
                                   :y2 595.8868408203125,
                                   :width 1023.4466666666668,
                                   :height 1372.8}
                                  {:x1 88.35826110839844,
                                   :y1 594.8012084960938,
                                   :x2 435.3395080566406,
                                   :y2 619.158203125,
                                   :width 1023.4466666666668,
                                   :height 1372.8}),
                          :page 1},
               :content {:text "Thomas Moore, in his article“Developing a Dream Practice” that appeared in Spirituality and Health, says that in his psychotherapy practice he has come to“trust the dreams more than the stories and the complaints” of his clients. Moore says that he has come to recogniz"},
               :properties {:color "red"}}
              {:id #uuid "679a64fe-50aa-4d23-9bf8-0e4c1025df17",
               :page 1,
               :position {:bounding {:x1 73.88056182861328,
                                     :y1 1183.802001953125,
                                     :x2 325.0722351074219,
                                     :y2 1213.29150390625,
                                     :width 1023.4466666666668,
                                     :height 1372.8},
                          :rects ({:x1 73.88056182861328,
                                   :y1 1183.802001953125,
                                   :x2 191.5924072265625,
                                   :y2 1201.1373901367188,
                                   :width 1023.4466666666668,
                                   :height 1372.8}
                                  {:x1 190.74932861328125,
                                   :y1 1190.3832397460938,
                                   :x2 295.2733154296875,
                                   :y2 1206.9738159179688,
                                   :width 1023.4466666666668,
                                   :height 1372.8}
                                  {:x1 294.43682861328125,
                                   :y1 1196.2894897460938,
                                   :x2 325.0722351074219,
                                   :y2 1213.29150390625,
                                   :width 1023.4466666666668,
                                   :height 1372.8}),
                          :page 1},
               :content {:text "Th; Beginning of My Story int"},
               :properties {:color "red"}}
              {:id #uuid "679a6533-632b-4c45-8b8c-7ca1654a455c",
               :page 1,
               :position {:bounding {:x1 503.6251525878906,
                                     :y1 881.4000244140625,
                                     :x2 917.2122192382812,
                                     :y2 925.9967651367188,
                                     :width 1023.4466666666668,
                                     :height 1372.8},
                          :rects ({:x1 524.7000122070312,
                                   :y1 881.4000244140625,
                                   :x2 917.2122192382812,
                                   :y2 898.2000122070312,
                                   :width 1023.4466666666668,
                                   :height 1372.8}
                                  {:x1 503.6251525878906,
                                   :y1 908.8125,
                                   :x2 909.5969848632812,
                                   :y2 925.9967651367188,
                                   :width 1023.4466666666668,
                                   :height 1372.8}),
                          :page 1},
               :content {:text " purchased the book Dreams and Spiritual Growth: A Christian Approach to Dreamwork by Louis M. Savary"},
               :properties {:color "red"}}],
 :extra {:page 1}}
