{:highlights [{:id #uuid "68d278e8-c519-4937-92aa-4cb0de54afb5",
               :page 10,
               :position {:bounding {:x1 85.38749846816063,
                                     :y1 416.27500915527344,
                                     :x2 781.4986434876919,
                                     :y2 481.3000030517578,
                                     :width 896.9999999999999,
                                     :height 1268.6137690751852},
                          :rects ({:x1 85.38749846816063,
                                   :y1 416.27500915527344,
                                   :x2 748.7759872376919,
                                   :y2 433.0749969482422,
                                   :width 896.9999999999999,
                                   :height 1268.6137690751852}
                                  {:x1 85.38749846816063,
                                   :y1 440.3874969482422,
                                   :x2 781.4986434876919,
                                   :y2 457.1875,
                                   :width 896.9999999999999,
                                   :height 1268.6137690751852}
                                  {:x1 85.38749846816063,
                                   :y1 464.5,
                                   :x2 203.67290648818016,
                                   :y2 481.3000030517578,
                                   :width 896.9999999999999,
                                   :height 1268.6137690751852}),
                          :page 10},
               :content {:text "Under competitive authoritarianism, which is what the political system in the US may become, individual opposition to the government is harder and riskier, which makes many people withdraw from political life"},
               :properties {:color "yellow"}}
              {:id #uuid "68d2790e-00e1-4315-8606-ba1e9cf1369d",
               :page 10,
               :position {:bounding {:x1 85.38749846816063,
                                     :y1 759.8000030517578,
                                     :x2 489.8555847108364,
                                     :y2 800.6999969482422,
                                     :width 896.9999999999999,
                                     :height 1268.6137690751852},
                          :rects ({:x1 419.3162780702114,
                                   :y1 759.8000030517578,
                                   :x2 489.8555847108364,
                                   :y2 776.6000061035156,
                                   :width 896.9999999999999,
                                   :height 1268.6137690751852}
                                  {:x1 85.38749846816063,
                                   :y1 783.9000091552734,
                                   :x2 345.210832208395,
                                   :y2 800.6999969482422,
                                   :width 896.9999999999999,
                                   :height 1268.6137690751852}),
                          :page 10},
               :content {:text "remaining apolitical is itself a highly political act"},
               :properties {:color "yellow"}}
              {:id #uuid "68d27923-2173-4844-8d8d-2560ae4c4536",
               :page 10,
               :position {:bounding {:x1 85.38749846816063,
                                     :y1 872.7375183105469,
                                     :x2 792.0089584290981,
                                     :y2 913.6499938964844,
                                     :width 896.9999999999999,
                                     :height 1268.6137690751852},
                          :rects ({:x1 85.38749846816063,
                                   :y1 872.7375183105469,
                                   :x2 792.0089584290981,
                                   :y2 889.5375061035156,
                                   :width 896.9999999999999,
                                   :height 1268.6137690751852}
                                  {:x1 85.38749846816063,
                                   :y1 896.8500061035156,
                                   :x2 490.16923674941063,
                                   :y2 913.6499938964844,
                                   :width 896.9999999999999,
                                   :height 1268.6137690751852}),
                          :page 10},
               :content {:text "Most people in autocracies are not actively resisting the regime. Instead, they seek to accommodate and avoid conflict by conforming to the new environment."},
               :properties {:color "yellow"}}],
 :extra {:page 24}}
