{:highlights [{:id #uuid "67927b44-ccbd-4d85-a014-d613c0ffbf6e",
               :page 1,
               :position {:bounding {:x1 123,
                                     :y1 119,
                                     :x2 294,
                                     :y2 207,
                                     :width 1120.4061146666668,
                                     :height 897.6},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1737653058492},
               :properties {:color "yellow"}}
              {:id #uuid "67927e6f-e3c9-4a73-9b55-baf13950e96a",
               :page 2,
               :position {:bounding {:x1 209,
                                     :y1 533.2086181640625,
                                     :x2 734,
                                     :y2 579.2086181640625,
                                     :width 883.8373608150224,
                                     :height 1178.8039914374572},
                          :rects (),
                          :page 2},
               :content {:text "[:span]", :image 1737653869752},
               :properties {:color "red"}}
              {:id #uuid "67927ea6-5de2-4aee-b480-e075bc60fa41",
               :page 1,
               :position {:bounding {:x1 586,
                                     :y1 521,
                                     :x2 983,
                                     :y2 565,
                                     :width 1137,
                                     :height 910.8939933834896},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1737653924383},
               :properties {:color "red"}}
              {:id #uuid "6792826a-9719-4ac8-a4bb-de2868ba7e25",
               :page 3,
               :position {:bounding {:x1 211,
                                     :y1 679.417236328125,
                                     :x2 749,
                                     :y2 736.417236328125,
                                     :width 883.9238362088387,
                                     :height 1178.8039914374572},
                          :rects (),
                          :page 3},
               :content {:text "[:span]", :image 1737654888639},
               :properties {:color "green"}}
              {:id #uuid "6792847c-604d-40b8-b9ac-154d79a5b87e",
               :page 4,
               :position {:bounding {:x1 97,
                                     :y1 955.114013671875,
                                     :x2 643,
                                     :y2 1075.114013671875,
                                     :width 883.8358128905891,
                                     :height 1178.8039914374572},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1737655417571},
               :properties {:color "red"}}],
 :extra {:page 6}}
