{:highlights [{:id #uuid "67927b44-ccbd-4d85-a014-d613c0ffbf6e",
               :page 1,
               :position {:bounding {:x1 123,
                                     :y1 119,
                                     :x2 294,
                                     :y2 207,
                                     :width 1120.4061146666668,
                                     :height 897.6},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1737653058492},
               :properties {:color "yellow"}}
              {:id #uuid "67927e42-deef-4dd9-8cfe-874b65789154",
               :page 1,
               :position {:bounding {:x1 591,
                                     :y1 524,
                                     :x2 979,
                                     :y2 540,
                                     :width 1137,
                                     :height 910.8939933834896},
                          :rects (),
                          :page 1},
               :content {:text "[:span]", :image 1737653823929},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
