{:highlights [{:id #uuid "684f3aa4-2c96-4cf2-a4da-21f676a6d253",
               :page 4,
               :position {:bounding {:x1 34.51261520385742,
                                     :y1 231.86250019073486,
                                     :x2 77.45423889160156,
                                     :y2 265.5250062942505,
                                     :width 1011,
                                     :height 776.3035714285714},
                          :rects ({:x1 34.51261520385742,
                                   :y1 231.86250019073486,
                                   :x2 77.45423889160156,
                                   :y2 245.4625062942505,
                                   :width 1011,
                                   :height 776.3035714285714}
                                  {:x1 41.38750076293945,
                                   :y1 241.9000062942505,
                                   :x2 65.52333068847656,
                                   :y2 255.5000123977661,
                                   :width 1011,
                                   :height 776.3035714285714}
                                  {:x1 39.57500076293945,
                                   :y1 251.92500019073486,
                                   :x2 67.32465362548828,
                                   :y2 265.5250062942505,
                                   :width 1011,
                                   :height 776.3035714285714}),
                          :page 4},
               :content {:text "alm 124: The Theology of Somehow Emilie Townes"},
               :properties {:color "yellow"}}
              {:id #uuid "684f3ab5-885d-41dd-9e4c-444964b5eb76",
               :page 4,
               :position {:bounding {:x1 28.462499618530273,
                                     :y1 209.11250019073486,
                                     :x2 65.19625854492188,
                                     :y2 222.7125062942505,
                                     :width 1011,
                                     :height 776.3035714285714},
                          :rects ({:x1 28.462499618530273,
                                   :y1 209.11250019073486,
                                   :x2 65.19625854492188,
                                   :y2 222.7125062942505,
                                   :width 1011,
                                   :height 776.3035714285714}),
                          :page 4},
               :content {:text "Praying with the M"},
               :properties {:color "yellow"}}
              {:id #uuid "684f3ad3-4fd4-40ae-869d-259207dee9de",
               :page 4,
               :position {:bounding {:x1 202.72500610351562,
                                     :y1 329.8374996185303,
                                     :x2 249.50364685058594,
                                     :y2 374.1000118255615,
                                     :width 1344,
                                     :height 1032},
                          :rects ({:x1 207.79214477539062,
                                   :y1 329.8374996185303,
                                   :x2 249.50364685058594,
                                   :y2 347.4375057220459,
                                   :width 1344,
                                   :height 1032}
                                  {:x1 213.35000610351562,
                                   :y1 343.1625118255615,
                                   :x2 240.05577087402344,
                                   :y2 360.76251792907715,
                                   :width 1344,
                                   :height 1032}
                                  {:x1 202.72500610351562,
                                   :y1 356.5000057220459,
                                   :x2 243.180908203125,
                                   :y2 374.1000118255615,
                                   :width 1344,
                                   :height 1032}),
                          :page 4},
               :content {:text "ecoming Outlaw Christians Jacqueline Bus"},
               :properties {:color "red"}}
              {:id #uuid "684f3add-4857-40c6-91ec-939a6ef45580",
               :page 4,
               :position {:bounding {:x1 281.9250183105469,
                                     :y1 335.1625118255615,
                                     :x2 326.9643859863281,
                                     :y2 379.4375057220459,
                                     :width 1344,
                                     :height 1032},
                          :rects ({:x1 281.9250183105469,
                                   :y1 335.1625118255615,
                                   :x2 326.9643859863281,
                                   :y2 352.76251792907715,
                                   :width 1344,
                                   :height 1032}
                                  {:x1 284.32501220703125,
                                   :y1 348.5000057220459,
                                   :x2 324.5595397949219,
                                   :y2 366.1000118255615,
                                   :width 1344,
                                   :height 1032}
                                  {:x1 284.70001220703125,
                                   :y1 361.8374996185303,
                                   :x2 322.8433837890625,
                                   :y2 379.4375057220459,
                                   :width 1344,
                                   :height 1032}),
                          :page 4},
               :content {:text "Stories that Heal, Stories that Kill Hugh Hollowel"},
               :properties {:color "red"}}
              {:id #uuid "684f3aec-5709-4845-82c8-597162bf0b6a",
               :page 4,
               :position {:bounding {:x1 422.9624938964844,
                                     :y1 321.8374996185303,
                                     :x2 495.29449462890625,
                                     :y2 379.4375057220459,
                                     :width 1344,
                                     :height 1032},
                          :rects ({:x1 424.75,
                                   :y1 321.8374996185303,
                                   :x2 493.5142517089844,
                                   :y2 339.4375057220459,
                                   :width 1344,
                                   :height 1032}
                                  {:x1 422.9624938964844,
                                   :y1 335.1625118255615,
                                   :x2 495.29449462890625,
                                   :y2 352.76251792907715,
                                   :width 1344,
                                   :height 1032}
                                  {:x1 449.57501220703125,
                                   :y1 348.5000057220459,
                                   :x2 468.6669921875,
                                   :y2 366.1000118255615,
                                   :width 1344,
                                   :height 1032}
                                  {:x1 440.0500183105469,
                                   :y1 361.8374996185303,
                                   :x2 478.21759033203125,
                                   :y2 379.4375057220459,
                                   :width 1344,
                                   :height 1032}),
                          :page 4},
               :content {:text "Life After Faith: Stories for Those of Us Who No Longer Believe Emily Wimbish"},
               :properties {:color "red"}}
              {:id #uuid "684f3af2-05fa-4c90-87ee-cfc95185a5c1",
               :page 4,
               :position {:bounding {:x1 504.1125183105469,
                                     :y1 335.1625118255615,
                                     :x2 571.802490234375,
                                     :y2 379.4375057220459,
                                     :width 1344,
                                     :height 1032},
                          :rects ({:x1 504.1125183105469,
                                   :y1 335.1625118255615,
                                   :x2 571.802490234375,
                                   :y2 352.76251792907715,
                                   :width 1344,
                                   :height 1032}
                                  {:x1 522.6875,
                                   :y1 348.5000057220459,
                                   :x2 553.2332763671875,
                                   :y2 366.1000118255615,
                                   :width 1344,
                                   :height 1032}
                                  {:x1 520.9375,
                                   :y1 361.8374996185303,
                                   :x2 554.9762573242188,
                                   :y2 379.4375057220459,
                                   :width 1344,
                                   :height 1032}),
                          :page 4},
               :content {:text "Brian McLaren and Social Intelligence Scott Burson"},
               :properties {:color "red"}}
              {:id #uuid "684f3afb-8833-4d96-a9e3-eb755f7a2ec2",
               :page 4,
               :position {:bounding {:x1 699.9083251953125,
                                     :y1 408.6250057220459,
                                     :x2 760.8873901367188,
                                     :y2 452.88751792907715,
                                     :width 1344,
                                     :height 1032},
                          :rects ({:x1 699.9083251953125,
                                   :y1 408.6250057220459,
                                   :x2 760.8873901367188,
                                   :y2 426.2250118255615,
                                   :width 1344,
                                   :height 1032}
                                  {:x1 715.3125,
                                   :y1 421.95001792907715,
                                   :x2 741.47119140625,
                                   :y2 439.54999351501465,
                                   :width 1344,
                                   :height 1032}
                                  {:x1 708.5,
                                   :y1 435.2875118255615,
                                   :x2 745.0741577148438,
                                   :y2 452.88751792907715,
                                   :width 1344,
                                   :height 1032}),
                          :page 4},
               :content {:text "tories as Prayer, Prayer as Stories Joshua Hearn"},
               :properties {:color "red"}}],
 :extra {:page 4}}
