{:highlights [{:id #uuid "684f374e-f46a-4956-a63a-de7cb510592b",
               :page 1,
               :position {:bounding {:x1 123.92500305175781,
                                     :y1 175.65000915527344,
                                     :x2 147.3457489013672,
                                     :y2 215.65000915527344,
                                     :width 806.4,
                                     :height 619.1999999999999},
                          :rects ({:x1 123.92500305175781,
                                   :y1 175.65000915527344,
                                   :x2 147.3457489013672,
                                   :y2 186.85000610351562,
                                   :width 806.4,
                                   :height 619.1999999999999}
                                  {:x1 126.23750305175781,
                                   :y1 185.25,
                                   :x2 145.03968811035156,
                                   :y2 196.4499969482422,
                                   :width 806.4,
                                   :height 619.1999999999999}
                                  {:x1 127.8125,
                                   :y1 194.85000610351562,
                                   :x2 143.4574737548828,
                                   :y2 206.0500030517578,
                                   :width 806.4,
                                   :height 619.1999999999999}
                                  {:x1 126.5250015258789,
                                   :y1 204.4499969482422,
                                   :x2 141.3384552001953,
                                   :y2 215.65000915527344,
                                   :width 806.4,
                                   :height 619.1999999999999}),
                          :page 1},
               :content {:text "How To Get the Most Out Of the Goose- Joy Wal"},
               :properties {:color "yellow"}}
              {:id #uuid "684f3763-28be-480e-8233-01a5c62fb13b",
               :page 1,
               :position {:bounding {:x1 30.42500114440918,
                                     :y1 305.0375061035156,
                                     :x2 54.53750228881836,
                                     :y2 345.0375061035156,
                                     :width 806.4,
                                     :height 619.1999999999999},
                          :rects ({:x1 34.275001525878906,
                                   :y1 305.0375061035156,
                                   :x2 54.53750228881836,
                                   :y2 316.2375183105469,
                                   :width 806.4,
                                   :height 619.1999999999999}
                                  {:x1 32.212501525878906,
                                   :y1 314.63751220703125,
                                   :x2 53.06423568725586,
                                   :y2 325.8374938964844,
                                   :width 806.4,
                                   :height 619.1999999999999}
                                  {:x1 32.42499923706055,
                                   :y1 324.2375183105469,
                                   :x2 52.8406982421875,
                                   :y2 335.4375,
                                   :width 806.4,
                                   :height 619.1999999999999}
                                  {:x1 30.42500114440918,
                                   :y1 333.8374938964844,
                                   :x2 53.06555938720703,
                                   :y2 345.0375061035156,
                                   :width 806.4,
                                   :height 619.1999999999999}),
                          :page 1},
               :content {:text "Worship & Call to Action Ken Medema& Jacqui Lewi"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
