{:highlights [{:id #uuid "67917965-3c6e-4b5d-81f2-7a6271840a08",
               :page 1,
               :position {:bounding {:x1 138.62172317504883,
                                     :y1 392.6965026855469,
                                     :x2 481.161563873291,
                                     :y2 411.0999755859375,
                                     :width 987.4699999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 138.62172317504883,
                                   :y1 392.6965026855469,
                                   :x2 481.161563873291,
                                   :y2 411.0999755859375,
                                   :width 987.4699999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "whic5 she could step outside c:olmer ond stramger"},
               :properties {:color "green"}}
              {:id #uuid "67917974-25a9-4e1c-a038-96afc4177f3e",
               :page 1,
               :position {:bounding {:x1 384.9120216369629,
                                     :y1 520.35009765625,
                                     :x2 640.0626258850098,
                                     :y2 843.8692626953125,
                                     :width 987.4699999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 384.9120216369629,
                                   :y1 520.35009765625,
                                   :x2 640.0626258850098,
                                   :y2 557.1570434570312,
                                   :width 987.4699999999999,
                                   :height 1319.9999999999998}
                                  {:x1 396.0650062561035,
                                   :y1 617.0916137695312,
                                   :x2 635.7198524475098,
                                   :y2 652.583984375,
                                   :width 987.4699999999999,
                                   :height 1319.9999999999998}
                                  {:x1 421.34924697875977,
                                   :y1 666.3455200195312,
                                   :x2 611.078311920166,
                                   :y2 700.5234375,
                                   :width 987.4699999999999,
                                   :height 1319.9999999999998}
                                  {:x1 446.2226905822754,
                                   :y1 711.6148071289062,
                                   :x2 574.1409950256348,
                                   :y2 748.4217529296875,
                                   :width 987.4699999999999,
                                   :height 1319.9999999999998}
                                  {:x1 473.6841468811035,
                                   :y1 761.5054931640625,
                                   :x2 552.8825721740723,
                                   :y2 795.683349609375,
                                   :width 987.4699999999999,
                                   :height 1319.9999999999998}
                                  {:x1 424.40964126586914,
                                   :y1 808.3768310546875,
                                   :x2 475.06027603149414,
                                   :y2 843.8692626953125,
                                   :width 987.4699999999999,
                                   :height 1319.9999999999998}
                                  {:x1 485.72034072875977,
                                   :y1 808.3768310546875,
                                   :x2 588.9583778381348,
                                   :y2 843.8692626953125,
                                   :width 987.4699999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text "Holístic spiritaialiÇ thc ñntrinsic bond beWxieen mind andbody, reason aad emotion"},
               :properties {:color "red"}}
              {:id #uuid "679179b5-02c7-40e7-91e1-08cd3d44b16a",
               :page 1,
               :position {:bounding {:x1 697.339786529541,
                                     :y1 749.7568359375,
                                     :x2 913.204532623291,
                                     :y2 819.6325073242188,
                                     :width 987.4699999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 709.4930458068848,
                                   :y1 749.7568359375,
                                   :x2 913.204532623291,
                                   :y2 772.1038818359375,
                                   :width 987.4699999999999,
                                   :height 1319.9999999999998}
                                  {:x1 697.339786529541,
                                   :y1 773.6443481445312,
                                   :x2 896.8361854553223,
                                   :y2 795.991455078125,
                                   :width 987.4699999999999,
                                   :height 1319.9999999999998}
                                  {:x1 697.339786529541,
                                   :y1 797.2854614257812,
                                   :x2 783.3914833068848,
                                   :y2 819.6325073242188,
                                   :width 987.4699999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text ". Emotions belong atthe center of spirituality, not at its edge"},
               :properties {:color "yellow"}}
              {:id #uuid "679179c6-c8f4-4272-ab53-a3a4a7b8cb13",
               :page 1,
               :position {:bounding {:x1 659.6085243225098,
                                     :y1 874.6170349121094,
                                     :x2 883.9543495178223,
                                     :y2 893.0205383300781,
                                     :width 987.4699999999999,
                                     :height 1319.9999999999998},
                          :rects ({:x1 659.6085243225098,
                                   :y1 874.6170349121094,
                                   :x2 883.9543495178223,
                                   :y2 893.0205383300781,
                                   :width 987.4699999999999,
                                   :height 1319.9999999999998}),
                          :page 1},
               :content {:text " powerful window to theHoly. "},
               :properties {:color "yellow"}}
              {:id #uuid "679179d7-8f10-4a08-afaf-aed9689f4364",
               :page 2,
               :position {:bounding {:x1 62.05011749267578,
                                     :y1 193.7705078125,
                                     :x2 457.54762268066406,
                                     :y2 236.5955810546875,
                                     :width 989.8283333333334,
                                     :height 1319.9999999999998},
                          :rects ({:x1 79.46768951416016,
                                   :y1 193.7705078125,
                                   :x2 457.54762268066406,
                                   :y2 212.17401123046875,
                                   :width 989.8283333333334,
                                   :height 1319.9999999999998}
                                  {:x1 62.05011749267578,
                                   :y1 216.8775634765625,
                                   :x2 223.9058380126953,
                                   :y2 236.5955810546875,
                                   :width 989.8283333333334,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "God'x lois for us is tlin ultimate foundation of a healthy cmtotional life"},
               :properties {:color "red"}}
              {:id #uuid "67917a02-3c32-4304-97c8-841a797c6f01",
               :page 2,
               :position {:bounding {:x1 323.9504852294922,
                                     :y1 760.3141784667969,
                                     :x2 457.4479522705078,
                                     :y2 778.7176818847656,
                                     :width 989.8283333333334,
                                     :height 1319.9999999999998},
                          :rects ({:x1 323.9504852294922,
                                   :y1 760.3141784667969,
                                   :x2 457.4479522705078,
                                   :y2 778.7176818847656,
                                   :width 989.8283333333334,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "The biblical psalm"},
               :properties {:color "red"}}
              {:id #uuid "67917a12-e1c7-464a-b3dc-26fbe3192dbd",
               :page 2,
               :position {:bounding {:x1 65.41860961914062,
                                     :y1 905.7756042480469,
                                     :x2 832.0007171630859,
                                     :y2 949.7919311523438,
                                     :width 989.8283333333334,
                                     :height 1319.9999999999998},
                          :rects ({:x1 518.0522918701172,
                                   :y1 905.7756042480469,
                                   :x2 832.0007171630859,
                                   :y2 925.4935913085938,
                                   :width 989.8283333333334,
                                   :height 1319.9999999999998}
                                  {:x1 65.41860961914062,
                                   :y1 930.073974609375,
                                   :x2 137.0812530517578,
                                   :y2 949.7919311523438,
                                   :width 989.8283333333334,
                                   :height 1319.9999999999998}
                                  {:x1 169.45166015625,
                                   :y1 930.073974609375,
                                   :x2 470.1513214111328,
                                   :y2 949.7919311523438,
                                   :width 989.8283333333334,
                                   :height 1319.9999999999998}
                                  {:x1 497.1814422607422,
                                   :y1 930.073974609375,
                                   :x2 791.0346527099609,
                                   :y2 949.7919311523438,
                                   :width 989.8283333333334,
                                   :height 1319.9999999999998}),
                          :page 2},
               :content {:text "Emotions are not opposed to reason. grcatcr pa For czzmplc, @salm 22’be inswicha plea In fact, they area rrioda of knowin"},
               :properties {:color "red"}}
              {:id #uuid "67917a1f-2d82-4883-99df-40c1a9c59a43",
               :page 3,
               :position {:bounding {:x1 124.92354965209961,
                                     :y1 283.9393615722656,
                                     :x2 410.42712020874023,
                                     :y2 302.3428649902344,
                                     :width 990.2616666666667,
                                     :height 1319.9999999999998},
                          :rects ({:x1 124.92354965209961,
                                   :y1 283.9393615722656,
                                   :x2 410.42712020874023,
                                   :y2 302.3428649902344,
                                   :width 990.2616666666667,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "upport for the intelligence of emotiona"},
               :properties {:color "green"}}
              {:id #uuid "67917a4a-b94e-4c50-ace2-81591ddc0a1e",
               :page 3,
               :position {:bounding {:x1 119.0188102722168,
                                     :y1 785.660026550293,
                                     :x2 469.94457626342773,
                                     :y2 804.0635299682617,
                                     :width 990.2616666666667,
                                     :height 1319.9999999999998},
                          :rects ({:x1 119.0188102722168,
                                   :y1 785.660026550293,
                                   :x2 469.94457626342773,
                                   :y2 804.0635299682617,
                                   :width 990.2616666666667,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "eparare sphères but rarher dimensions of one realiiy,"},
               :properties {:color "green"}}
              {:id #uuid "67917a60-c788-4fc9-addc-aebb5313365a",
               :page 3,
               :position {:bounding {:x1 141.72716903686523,
                                     :y1 858.6577682495117,
                                     :x2 445.90761947631836,
                                     :y2 877.0612106323242,
                                     :width 990.2616666666667,
                                     :height 1319.9999999999998},
                          :rects ({:x1 141.72716903686523,
                                   :y1 858.6577682495117,
                                   :x2 445.90761947631836,
                                   :y2 877.0612106323242,
                                   :width 990.2616666666667,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "tegrating emotions into the spiritual life "},
               :properties {:color "blue"}}
              {:id #uuid "67917a72-2ddc-4418-88aa-d3505f9f54a6",
               :page 3,
               :position {:bounding {:x1 616.4266014099121,
                                     :y1 189.41614532470703,
                                     :x2 841.8570213317871,
                                     :y2 207.81961822509766,
                                     :width 990.2616666666667,
                                     :height 1319.9999999999998},
                          :rects ({:x1 616.4266014099121,
                                   :y1 189.41614532470703,
                                   :x2 841.8570213317871,
                                   :y2 207.81961822509766,
                                   :width 990.2616666666667,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "ruits typical of the 5pirit's wodk:"},
               :properties {:color "red"}}
              {:id #uuid "67917a89-5802-4f3c-8cf3-3b9918b6485c",
               :page 3,
               :position {:bounding {:x1 570.1713523864746,
                                     :y1 907.7473678588867,
                                     :x2 791.3120384216309,
                                     :y2 926.1508712768555,
                                     :width 990.2616666666667,
                                     :height 1319.9999999999998},
                          :rects ({:x1 570.1713523864746,
                                   :y1 907.7473678588867,
                                   :x2 587.4940452575684,
                                   :y2 926.1508712768555,
                                   :width 990.2616666666667,
                                   :height 1319.9999999999998}
                                  {:x1 602.7549705505371,
                                   :y1 907.7473678588867,
                                   :x2 791.3120384216309,
                                   :y2 926.1508712768555,
                                   :width 990.2616666666667,
                                   :height 1319.9999999999998}),
                          :page 3},
               :content {:text "od duires that wc “choose life."},
               :properties {:color "blue"}}],
 :extra {:page 3}}
